.bars-and-charts {
    display: flex;
    flex-wrap: wrap;

}


.graphs-title {
    padding-left: 50px;
}

.graph-title {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
